@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .hero img {
        max-height: 550px;
        object-fit: cover;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

