:root {
    --primary-color: #8b0000;
    --accent-color: #2e7d32;
    --secondary-color: #e8efe3;
    --text-color: #222;
    --white: #ffffff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 30px 0;
    position: relative;
    margin: 0;
}

header h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

/* Faixa verde */
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: var(--accent-color);
}

/* Hero Image */
.hero img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Main */
main {
    display: block;
}

/* Data Box */
.data {
     position: static;
    background: var(--white);
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Green title inside Data */
.data h2 {
    background: var(--accent-color);
    color: white;
    padding: 12px;
    margin: -20px -20px 15px -20px;
}

/* Weather Box */
.weather {
    position: static;
    background: var(--white);
    padding: 20px;
    width: 100%;
    text-align: center;
}

/* Green title inside Weather */
.weather h2 {
    background: var(--accent-color);
    color: white;
    padding: 12px;
    margin: -20px -20px 15px -20px;
}

/* Weather emoji desktop */
.weather h2::after {
    content: " ⛅";
}

/* Text spacing */
.data p,
.weather p {
    margin: 0.5rem 0;
   }

/* Weather Icon */
.weather-icon {
    width: 60px;
    height: 60px;
    display: block;
    margin 0 auto 1rem auto;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 30px;
    margin-top: 0;   /* colado na imagem */
}